// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2020, Mark Hargreaves <clashclanacc2602@gmail.com>
 */

/dts-v1/;
#include "sdm660-xiaomi-clover-common.dtsi"

/ {
	battery: battery {
		compatible = "simple-battery";

		device-chemistry = "lithium-ion";

		charge-full-design-microamp-hours = <6010000>;
		voltage-min-design-microvolt = <3400000>;
		voltage-max-design-microvolt = <4400000>;
	};
};

&blsp_i2c3 {
	status = "okay";

	touchscreen@38 {
		compatible = "edt,edt-ft5406";
		reg = <0x38>;

		vcc-supply = <&vreg_l11a_1p8>;

		pinctrl-0 = <&ts_int_active &ts_rst>;
		pinctrl-names = "default";
		interrupts-extended = <&tlmm 67 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&tlmm 66 GPIO_ACTIVE_LOW>;

		touchscreen-size-x = <1200>;
		touchscreen-size-y = <1920>;
	};
};

&mdss_dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	vdd-supply = <&vreg_l1b_0p925>;
	vdda-supply = <&vreg_l1a_1p225>;

	status = "okay";

	panel: panel@0 {
		compatible = "boe,tv080wum-nx2", "novatek,nt51021";
		reg = <0>;

		backlight = <&pm660l_wled>;

		avdd-supply = <&lcd_pwr>;
		reset-gpios = <&tlmm 62 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&mdss_dsi_reset &mdss_vsync_active>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in>;
};

&mdss_dsi0_phy {
	vcca-supply = <&vreg_l1b_0p925>;

	status = "okay";
};

&pm660l_wled {
	qcom,switching-freq = <800>;
	qcom,current-limit-microamp = <20000>;
	qcom,num-strings = <3>;
	qcom,cabc;

	status = "okay";
};

&tlmm {
	ts_int_active: ts-int-active-state {
		pins = "gpio67";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	ts_rst: ts-rst-state {
		pins = "gpio66";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};
};
