# SPDX-License-Identifier: GPL-2.0-only
config EXYNOS_THERMAL
	tristate "Exynos thermal management unit driver"
	depends on THERMAL_OF
	depends on HAS_IOMEM
	default ARCH_EXYNOS
	help
	  If you say yes here you get support for the TMU (Thermal Management
	  Unit) driver for Samsung Exynos series of SoCs. This driver initialises
	  the TMU, reports temperature and handles cooling action if defined.
	  This driver uses the Exynos core thermal APIs and TMU configuration
	  data from the supported SoCs.

config EXYNOS_ACPM_THERMAL
	tristate "Exynos ACPM thermal management unit driver"
	depends on THERMAL_OF
	depends on HAS_IOMEM
	depends on EXYNOS_ACPM_PROTOCOL
	default ARCH_EXYNOS
	help
	  Support for the Thermal Management Unit (TMU) on Samsung Exynos SoCs
	  utilizing the ACPM IPC protocol, such as the Google GS101.

	  The TMU on these platforms is managed through a hybrid architecture.
	  This driver handles direct register access for thermal interrupt status
	  monitoring and communicates with the Alive Clock and Power Manager
	  (ACPM) firmware via the ACPM IPC protocol for functional sensor control
	  and configuration.

	  Select this if you want to monitor device temperature and enable
	  thermal mitigation on Samsung Exynos ACPM based devices.
